<div>
<div class="my-classes mb-6">
<h1>Classes I offer:</h1>
<div class="card-grid">
      <% @lessons.each do |lesson| %>
      <div class="card">
          <%= link_to lesson_path(lesson), class:"text-decoration-none card-class" do %>
          <%= cl_image_tag lesson.photo.key %>
              <div class="card-class-infos">
                <h3><%= lesson.name %></h3>
              </div>
  <%= link_to "Delete class", lesson_path(lesson), class:"delete-link" ,data: {turbo_method: "delete", turbo_confirm: "Are you sure?"}%>
          <% end %>

             <div class="d-flex justify-content-center align-items-center my-bookings-trash-icon">
              <%= link_to lesson_path(lesson),  data: {turbo_method: "delete", turbo_confirm: "Are you sure?"} do%>
                <i class="fa-regular fa-trash-can btn-icon mx-2"></i>
              <% end %>
            </div>

      </div>

      <% end %>
  </div>

</div>

<div class = "my-bookings">

<h1>My Students:</h1>

<div class="card-grid">
      <% @bookings.each do |booking| %>
      <% if booking.lesson.user == current_user %>
      <div class="card">
          <%= link_to lesson_path(booking.lesson), class:"text-decoration-none card-class" do %>
          <%= cl_image_tag booking.lesson.photo.key %>
              <div class="card-class-infos">
                <h3><%= booking.lesson.name %></h3>
              </div>

          <% end %>

          <span>Booked by <%= booking.user.name  %></span>
      </div>
  <% end %>
      <% end %>
  </div>
</div>
</div>
