<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid navbar-content">
    <%= link_to "#", class: "navbar-brand" do %>
      <div class="logo"><%= image_tag "sclogo.png", alt: "StayClassy Logo", width: 200 %></div>
           <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
              <div class="search"><%= image_tag "search.png", alt: "Search", width: 70 %></div> </li>
          <li class="nav-item dropdown">
          <a href="#" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="nav_icon"><%= image_tag "nav_icon.png", alt: "StayClassy nav", width: 50 %></div>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

              <%= link_to "My Profile", "/lessons/1/users/1/edit", class: "dropdown-item" %>
              <%= link_to "My Classes", "#", class: "dropdown-item" %>
              <%= link_to "My Bookings", "#", class: "dropdown-item" %>


              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
